<!DOCTYPE html>
<html ng-app="farmbuild.wfs.demo.auth">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build WFS Service - Authentication demo (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="WfsAuthCtrl">
<content>
    <h3>
        Farmbuild WFS Service - Authentication
        <small>(angularJS)</small>
    </h3>
    <hr/>
    <form ng-submit="authenticate(authUrl, clientId, clientSecret)" method="post"
          role="form" novalidate>
        <fieldset>
            <legend>
                Authentication form
            </legend>

            <form-item class="form-group col-md-6">
                <label>Authentication Service URL</label>
                <input name="authUrl" ng-model="authUrl" type="text"
                       class="form-control">
            </form-item>

            <form-item class="form-group col-md-6">
                <label>Client Id</label>
                <input name="clientId" ng-model="clientId" type="text" class="form-control">
            </form-item>

            <form-item class="form-group col-md-6">
                <label>Client Secret</label>
                <input name="clientSecret" ng-model="clientSecret" type="text" class="form-control">
            </form-item>

            <buttons class="col-md-12">
                <button type="submit" class="btn btn-primary">Authenticate</button>
            </buttons>
        </fieldset>
    </form>
    <summary>
        <fieldset>
            <legend>
                Result
            </legend>
            <error ng-cloak class="col-sm-12 bg-danger" ng-show="error">
                <p ng-repeat="errMsg in errorMessages.authentication">
                    {{errMsg}}
                </p>
            </error>
            <form-item class="form-group col-sm-6">
                <p ng-repeat="msg in messages.authentication">
                    {{msg}}
                </p>
            </form-item>
        </fieldset>
    </summary>

    <form ng-submit="connectWFS(token, wfsUrl)" method="post"
          role="form" novalidate>
        <fieldset>
            <legend>
                WFS form
            </legend>

            <form-item class="form-group col-md-6">
                <label>Target WFS URL</label>
                <input name="wfsUrl" ng-model="wfsUrl" type="text" class="form-control">
            </form-item>

            <buttons class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-disabled="token == null">Connect</button>
            </buttons>
        </fieldset>
    </form>
    <summary>
        <fieldset>
            <legend>
                Result
            </legend>
            <error ng-cloak class="col-sm-12 bg-danger" ng-show="error">
                <p ng-repeat="errMsg in errorMessages.wfs">
                    {{errMsg}}
                </p>
            </error>
            <form-item class="form-group col-sm-6">
                <p ng-repeat="msg in messages.wfs">
                    {{msg}}
                </p>
            </form-item>
        </fieldset>
    </summary>

    <version class="col-md-12">
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
<script src="../../../bower_components/farmbuild-core/dist/farmbuild-core.min.js"></script>
<script src="index.js"></script>

</body>
</html>
