include templates/mixins/indexFolders

doctype html
head
  include templates/includes/css
html
  body.index
    article
      header
        h1 Farmbuild services API documentation

        p
          | To get started, click on the links below to view the documentation of the API JSON  

      section
        h2 Specification

        ul
          each file, name in files
            if typeof file === 'string'
              li
                a(href=name)= name

        each folder, name in files
          if typeof folder === 'object'
            h2= name
            ul
              mixin indexFolders(folder, 3)

      include templates/includes/footer
