<!DOCTYPE html>
<html ng-app="farmbuild.webservices.examples.wfs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build WFS Service - Authentication demo (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="WfsAuthCtrl">
<content>
    <h3>
        Farmbuild  - Web Services - WFS Service (Soils or Parcels)
        <small>(angularJS)</small>
    </h3>
    <hr/>
    <div>
        <p>This page demonstrates how to connect to the Farmbuild soils and parcels Web services. </p>
        <p>Two (2) ways to connect will be demonstrated:
            <ul>
                <li>Using a valid token.  Refer to this <a href="../farmbuild-oauth/index.html">Authentication</a> demo page for an example of how to obtain the token</li>
                <li>Via a web proxy.  Refer to the src/farmbuild.WFS.ClientProxy example project.</li>
            </ul>
        </p>
        <p>To connect with the token:
            <ul>
                <li>Copy and paste a valid token into the Authentication Token field.</li>
                <li>Enter the WFS URL you wish to connect.</li>
                <li>Click the "Connect With Token" button.</li>
            </ul>
        </p>
        <p>To connect via proxy:
            <ul>
                <li>Enter the authentication proxy URL.  By default, this proxy will be listening at <i>http://localhost:9000</i>.</li>
                <li>Click the "Connect Via Proxy" button.</li>
            </ul>
        </p>
    </div>
    <form ng-submit="connectWithToken(wfsUrl, token)" method="post"
          role="form" novalidate>
        <fieldset>
            <legend>
                Token authentication form
            </legend>

            <form-item class="form-group col-md-12">
                <label>Authentication Token</label>
                <textarea name="token" ng-model="token" rows="4"
                       class="form-control" ></textarea>
            </form-item>


            <form-item class="form-group col-md-6">
                <label>WFS URL</label>
              <select ng-model="wfsUrl"  class="form-control" >
                <option ng-repeat="item in wfsUrlList"
                        value="{{item}}">
                  {{item}}
                </option>
              </select>

            </form-item>
        </fieldset>


        <fieldset>

            <buttons class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-disabled="(wfsUrl == null) || (token == null)" >Connect With Token</button>

            </buttons>
        </fieldset>
    </form>

    <form ng-submit="connectViaProxy(proxyUrl)" method="post"
          role="form" novalidate>
        <fieldset>
            <legend>
                Proxy form
            </legend>

            <form-item class="form-group col-md-12">
                <label>Authentication Proxy URL</label>
                <input name="proxyUrl" ng-model="proxyUrl" type="text" class="form-control">
            </form-item>

        </fieldset>


        <fieldset>

            <buttons class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-disabled="(proxyUrl == null)">Connect Via Proxy</button>
            </buttons>
        </fieldset>
    </form>

    <summary>
        <fieldset>
            <legend>
                Result
            </legend>
            <error ng-cloak class="col-sm-12 bg-danger" ng-show="error">
                <p ng-repeat="errMsg in errorMessages">
                    {{errMsg}}
                </p>
            </error>
            <form-item class="form-group col-sm-6">
                <p ng-repeat="msg in messages">
                    {{msg}}
                </p>
            </form-item>
        </fieldset>
               <pre  ng-show="hasResponse">
                {{rawMsg}}
            </pre>
    </summary>

    <version class="col-md-12">
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<script src="../../lib/farmbuild-core.min.js"></script>
<script src="../../config.js"></script>
<script src="index.js"></script>

</body>
</html>
