<!DOCTYPE html>
<html ng-app="farmbuild.webservices.examples.wfs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build WFS Service - Authentication demo (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="WfsAuthCtrl">
<content>
    <h3>
      <a href="../index.html">Farmbuild  - Web Services</a> - WFS Service (Soils or Parcels)
        <small>(angularJS)</small>
    </h3>
    <hr/>
    <div>
      <p>This page demonstrates how to connect to the Farmbuild soils and parcels Web services. </p>
      <p>The minimum bounding box of the farm considered can be given as a parameter to the extent filer. </p>
    </div>
    <form ng-submit="connectWithToken(wfsUrl, token)" method="post"
          role="form" novalidate>
        <fieldset>

            <form-item class="form-group col-md-12">
                <label>WFS URL</label>
                <div class="panel panel-default">
                    <div  class="panel-body">
                        {{wfsUrl}}
                    </div>
                </div>
            </form-item>


            <form-item class="form-group col-md-12">
                <label>Extent filter.</label>
                <div class="panel panel-default">
                    <div  class="panel-body">
                        {{extentFilter}}
                    </div>
                </div>
            </form-item>


            <form-item class="form-group col-md-12">
                <label>Service type</label>
                <select ng-model="wfsType"  class="form-control" ng-options="item.label for item in wfsTypeList" style="width: 50%">
                </select>
            </form-item>

        </fieldset>


        <fieldset>

            <buttons class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-disabled="(wfsUrl == null)" >Connect</button>

            </buttons>
        </fieldset>
    </form>

    <summary>
        <fieldset>
            <legend>
                Result
            </legend>
            <error ng-cloak class="col-sm-12 bg-danger" ng-show="error">
                <p ng-repeat="errMsg in errorMessages">
                    {{errMsg}}
                </p>
            </error>
            <form-item class="form-group col-sm-6">
                <p ng-repeat="msg in messages">
                    {{msg}}
                </p>
            </form-item>
        </fieldset>
               <pre  ng-show="hasResponse">
                {{rawMsg}}
            </pre>
    </summary>

    <version class="col-md-12">
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<script src="../../lib/farmbuild-core.min.js"></script>
<script src="../../config.js"></script>
<script src="index.js"></script>

</body>
</html>
