<!DOCTYPE html>
<html ng-app="farmbuild.wfs.demo.auth">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build - Web Services - Authentication demo (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="WfsAuthCtrl">
<content>
    <h3>
        Farmbuild - Web Services - Authentication
        <small>(angularJS)</small>
    </h3>
    <hr/>
    <div>
        <p>This page demonstrates how to use OAuth2 protocol to connect to the Farmbuild Identity Service and obtain a valid token. </p>
        <p>This token may be utilised in other Farmbuild examples to connect to the Web services. </p>
    </div>
    <form ng-submit="authenticate(authUrl, clientId, clientSecret, authScope )" method="post"
          role="form" novalidate>
        <fieldset>
            <legend>
                Authentication form
            </legend>

            <form-item class="form-group col-md-6">
                <label>Identity Service URL</label>
                <input name="authUrl" ng-model="authUrl" type="text"
                       class="form-control">
            </form-item>

            <form-item class="form-group col-md-6">
                <label>Scope</label>
                <select ng-model="authScope" class="form-control" >
                    <option ng-repeat="item in authScopes"
                            value="{{item}}">
                        {{item}}
                    </option>
                </select>
            </form-item>

            <form-item class="form-group col-md-6">
                <label>Client Id</label>
                <input name="clientId" ng-model="clientId" type="text" class="form-control">
            </form-item>

            <form-item class="form-group col-md-6">
                <label>Client Secret</label>
                <input name="clientSecret" ng-model="clientSecret" type="text" class="form-control">
            </form-item>

            <buttons class="col-md-12">
                <button type="submit" class="btn btn-primary">Authenticate</button>
            </buttons>
        </fieldset>
    </form>
    <summary>
        <fieldset>
            <legend>
                Result
            </legend>
            <error ng-cloak class="col-sm-12 bg-danger" ng-show="error">
                <p ng-repeat="errMsg in errorMessages">
                    {{errMsg}}
                </p>
            </error>
            <form-item class="form-group col-sm-6">
                <p ng-repeat="msg in messages">
                    {{msg}}
                </p>
            </form-item>
        </fieldset>
    </summary>


    <version class="col-md-12">
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
<script src="../../../dist/farmbuild-core.min.js"></script>
<script src="../../config.js"></script>
<script src="index.js"></script>

</body>
</html>
